
#connect_wrapper, #resume_wrapper
	width: 50%
	max-height: rem(550)
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%) skew(-$skew)
	z-index: 960
	opacity: 0
	visibility: hidden
	padding: 3rem 5rem
	background-color: $w
	transition: all 0.3s ease
	&.activeOverlay
		opacity: 1
		visibility: visible
.connect_img
	position: absolute
	z-index: 2
	width: rem(436)
	height: rem(600)
	top: 50%
	right: 0.5rem
	transform: translate(0%, -50%) skew($skew)
.connect_figure
	transform: skew($skew)
	position: absolute
	z-index: 3
	right: 1.25rem
	bottom: -3rem
#closeConnect, #closeResume
	padding: 0
	transform: skew($skew)
	position: absolute
	top: rem(24)
	right: rem(24)
	fill: $red
	&:hover
		fill: $lBlue

// Styling Gravity Forms
#connect_wrapper, #resume_wrapper
	width: 50%
	max-height: rem(550)
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%) skew(-$skew)
	z-index: 960
	opacity: 0
	visibility: hidden
	padding: 3rem 5rem
	background-color: $w
	transition: all 0.3s ease
	&.activeOverlay
		opacity: 1
		visibility: visible
	h2
		font-size: rem(36)
		font-weight: bold
		color: $dGrey
		transform: skew($skew)
	.gform_wrapper
		position: relative
		z-index: 5
		transform: skew($skew)
		width: 50%
		li
			width: 100%
			position: relative
			border: 1px solid transparent !important
			background-color: transparent !important
		label
			width: 100%
			position: absolute
			left: 50%
			top: 18px
			transform: translate(-50%, 0%)
			color: $lGrey
			font-size: 18px
			user-select: none
			transition: all 0.3s ease
			&.focused
				font-size: 14px
				top: -6px
	input[type=text], input[type=tel]
		width: 100%
		border: none
		border-bottom: 2px solid $dGrey
		padding: 8px 0
		background-color: transparent
		color: $dGrey
		font-size: rem(18)
		outline: none
		transition: all 0.3s ease
		position: relative
		&.invalid
			color: $red
			border-color: $red
	textarea
		max-width: 100%
		max-height: 4rem
		width: 100%
		border: none
		border-bottom: 2px solid $dGrey
		padding: 8px 0
		background-color: transparent
		color: $dGrey
		font-size: rem(18)
		outline: none
		transition: all 0.3s ease
	input[type=submit]
		border: 1px solid transparent
		background-color: transparent
		color: $w
		transform: skew($skew)
		transition: all 0.3s ease
		padding: 1rem 1.5rem
		margin: 0 0 0 6px
		position: relative
		z-index: 1
		cursor: pointer
		outline: none
	input[type=file]
		width: 100%
		margin-top: rem(40)
		background-color: transparent
		border: none
		font-size: 20px
		cursor: pointer
	.screen-reader-text
		display: none
	.gform_footer
		width: max-content
		position: relative
		margin: 36px 0 0 0
		padding: 0
		transform: skew(-$skew)
		background-color: $red
		transition: all 0.3s ease
		cursor: pointer
		&:hover
			background-color: $lBlue
		&.invalid
			background-color: $lGrey
			opacity: 0.3
			&:hover
				background-color: $lGrey
				cursor: default
	.validation_error, .validation_message, #gform_ajax_spinner_1
		position: absolute
		display: none
		opacity: 0
		visibility: hidden
	#gform_confirmation_wrapper_1, #gform_confirmation_wrapper_2
		margin-top: 36px
		transform: skew($skew)
		text-align: center
		color: $dGrey
