@font-face
  font-family: Inter
  src: url(../fonts/Inter.ttf)
// @font-face
//   font-family: Eurostile
//   src: url(../fonts/Eurostile.ttf)
@font-face
  font-family: Square
  src: url(../fonts/Square.ttf)