footer
	padding: rem(96) 0
	background-color: $dGrey
	.wrapper
		display: flex
		justify-content: space-between
		*
			color: $w
			white-space: nowrap
		> div
			display: flex
			flex-direction: column
		ul li
			display: block
		.copyright
			.logowrap
				display: flex
				margin-bottom: rem(70)
				.logo
					margin-top: rem(-96)
					svg
						width: 100%
						height: 100%
				.slogan
					align-self: flex-end
					margin-left: -1rem
					font-size: rem(18)
					font-weight: 500
			.creators p
				margin-top: 18px
				font-size: rem(18)
				font-weight: 500
		.clients, .services
			h5
				font-size: rem(24)
				font-weight: 500
				position: relative
				svg
					width: 16px
					height: 24px
					fill: $red
					position: absolute
					left: -24px
					&.line
						left: 0
						top: 50%
						transform: translate(-150%, -50%)
				.arrow
					width: 16px
					height: 24px
					right: 2rem
					top: 50%
					transform: translate(0%, -50%)
					cursor: pointer
					position: absolute
					display: none
					> svg
						position: absolute
						left: 50%
						top: 50%
						transform: translate(-50%, -50%) rotate(0)
						&:hover
							fill: $lBlue
			li a
				margin-top: 18px
				color: $lGrey
				text-decoration: underline
				font-size: rem(18)
				&:hover
					color: $lBlue
		.contacts
			display: flex
			flex-direction: column
			justify-content: space-between
			li
				display: flex
				&:not(:first-child)
					margin-top: 20px
				svg
					margin-right: rem(18)
					fill: $red
				a
					display: block
					&:hover
						color: $lBlue
				.phone_list > a
					margin-bottom: rem(12)
