header
	width: 100%
	position: fixed
	z-index: 5
	top: 0
	@media (min-width: 1100px)
		&.roll
			.contacts
				.wrapper
					padding: 0
					max-height: 0
					.languages, .empty, .time, .contact, .social
						display: none
					.logo_animate
						top: -100px
						.logo_text
							left: 60%
							top: 75%
					.hamb_animate
						position: absolute
						left: 230px
						top: 15px
			nav .wrapper
				padding: 0.7rem 0 0.7rem 16rem
	.contacts
		backdrop-filter: blur(8.2px)
		position: relative
		background-color: rgba($b,0.3)
		.wrapper
			display: flex
			align-items: center
			justify-content: space-between
			padding: 1.5rem 0 1.5rem 10.5rem
			max-height: 200px
			transition: all 0.3s linear
			.languages li a
				font-size: 16px
				opacity: 0.6
				color: $w
				text-decoration: underline
				&:hover
					opacity: 1
					color: $lBlue
			.empty
				width: 10%
			.time
				color: $w
				text-align: right
				p
					color: $w
				span
					font-size: rem(16)
					opacity: 0
					transform: translateY(-100px)
					animation: spanDown 0.3s forwards
			.contact
				position: relative
				margin-top: -1rem
				padding: 1rem 1.8rem 0rem 1.5rem
				fill: $red
				transition: all 0.3s linear
				color: $w
				text-align: right
				&:hover
					background-color: $w
					a
						color: $dGrey
					span
						color: $dGrey
					.additional
						opacity: 1
						visibility: visible
				> svg
					position: absolute
					top: 1.5rem
					right: 0.5rem
					transform: translate(-50%, 0%)
					opacity: 0
					animation: fadeIn 1s 0.6s ease-in 1 forwards
				a
					position: relative
					z-index: 15
					fill: $red
					font-weight: 500
					color: $w
					&:hover
						color: $lBlue
				> .type
					position: relative
					z-index: 20
					li
						cursor: pointer
						width: 36px
						height: 36px
						border-radius: 50%
						position: relative
						transition: all 0.2s linear
						margin: -10px -8px
						&.telegram:hover
							box-shadow: 0 0 20px rgba(#4199FF, 0.3) inset
						&.viber:hover
							box-shadow: 0 0 20px rgba(#9A059A, 0.3) inset
						&.whatsapp:hover
							box-shadow: 0 0 20px rgba(#259832, 0.3) inset
						a, svg
							width: 20px
							height: 20px
							position: absolute
							left: 50%
							top: 50%
							transform: translate(-50%, -50%)
				.additional
					width: 100%
					position: absolute
					top: 60%
					left: 0
					opacity: 0
					visibility: hidden
					background-color: $w
					padding: rem(24) rem(44) rem(24) rem(24)
					z-index: 10
					text-align: left
					transition: all 0.3s linear
					display: flex
					flex-direction: column
					> li
						display: flex
						flex-direction: column
						.type li svg
							width: rem(20)
							height: rem(20)
						a
							color: $dGrey
							font-size: rem(23)
							font-weight: bold
							&:hover
								color: $lBlue
						span
							font-size: rem(18)
							color: $dGrey
							text-decoration: none
							opacity: 0.5
						&:not(:first-child)
							margin-top: rem(24)
			.social
				display: inline-block
				li
					margin-left: 1rem
				.social_link svg
					fill: $w
					&:hover
						fill: $lBlue
	nav
		position: relative
		z-index: -1
		background-color: $dGrey
		.wrapper
			display: flex
			align-items: center
			justify-content: space-between
			padding: 0.7rem 0 0.7rem 10.5rem
			.links
				width: 100%
				display: flex
				align-items: center
				justify-content: space-between
				li
					opacity: 0
					transform: translateX(100px)
					transition: all 0.2s linear
					&.appeared
						opacity: 1
						transform: translateX(0)
					a
						width: max-content
						font-size: rem(18)
						font-weight: 500
						color: $w
						text-align: center
						&:hover
							color: $lBlue
			.checkup
				margin: 0 0 -1.5rem 1.5rem

#expandedMenu
	position: fixed
	z-index: 0
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	overflow: hidden
	opacity: 0
	visibility: hidden
	display: flex
	color: $w
	transition: all 0.3s linear
	&.activeOverlay
		opacity: 1
		visibility: visible
		z-index: 955
		> *:not(.closeOverlay):not(.languages)
			transform: translateY(0)
		.languages
			transform: translateX(0)
			opacity: 1
			visibility: visible
	> *:not(.closeOverlay):not(.languages)
		width: 25%
		height: 100%
		padding: rem(280) rem(48) 0 rem(108)
		background: linear-gradient(207deg, #181f29, #153155)
		backdrop-filter: blur(30px)
		transform: translateY(100%)
		transition: all 0.3s linear
		&:nth-child(1)
			transition-delay: 0.1s
		&:nth-child(2)
			transition-delay: 0.2s
		&:nth-child(3)
			transition-delay: 0.3s
		&:nth-child(4)
			transition-delay: 0.4s
	.clients, .services
		h5
			width: 100%
			font-size: rem(24)
			font-weight: bold
			position: relative
			svg.line
				width: 16px
				height: 24px
				fill: $red
				position: absolute
				&
					left: 0
					top: 50%
					transform: translate(-150%, -50%)
			.arrow
				width: 16px
				height: 24px
				right: 0
				top: 50%
				transform: translate(0%, -50%)
				cursor: pointer
				position: absolute
				display: none
				outline: none
				fill: $red
				&:hover
					fill: $lBlue
				> svg
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) rotate(0)
					&:hover
						fill: $lBlue
		ul
			margin-top: rem(36)
		li
			display: block
			&:not(:first-child)
				margin-top: rem(36)
			a
				font-size: rem(20)
				font-weight: 500
				&:hover
					color: $lBlue
	.contacts
		display: flex
		flex-direction: column
		> li
			display: flex
			position: relative
			&:not(:first-child)
				margin-top: rem(48)
			> svg
				width: 24px
				height: 24px
				margin-right: 18px
				position: absolute
				top: 0
				left: 0
				transform: translate(-2rem, 3px)
				fill: $red
			a
				display: block
				&:hover
					color: $lBlue
			.phone_list > a
				margin-bottom: rem(12)
		.social
			text-align: center
			fill: $w
			li
				&:not(:first-child)
					margin-left: rem(18)
				a
					fill: $w
					&:hover
						fill: $lBlue
					svg
						width: 36px
						height: 36px
	.phones
		h5
			display: none
			font-size: rem(24)
			font-weight: bold
			position: relative
			svg
				width: 16px
				height: 24px
				fill: $red
				position: absolute
				&.line
					left: 0
					top: 50%
					transform: translate(-150%, -50%)
			.arrow
				width: 16px
				height: 24px
				right: 0
				top: 50%
				transform: translate(0%, -50%)
				cursor: pointer
				position: absolute
				display: none
				outline: none
				> svg
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) rotate(0)
					&:hover
						fill: $lBlue
		> li
			display: flex
			position: absolute
			.phone:not(:first-child)
				margin-top: rem(48)
			> svg
				width: 24px
				height: 24px
				position: absolute
				top: 0
				left: 0
				transform: translate(-2rem, 3px)
				fill: $red
			a
				display: block
				&:hover
					color: $lBlue
	.phone_list
		display: flex
		flex-direction: column
	.phone
		.phone_first
			display: flex
			align-items: center
			justify-content: space-between
			a
				font-size: rem(24)
				font-weight: bold
		span
			display: flex
			align-items: center
			opacity: 0.5
			font-size: rem(18)
		.phone_type
			margin-left: rem(20)
			svg
				width: 20px
				height: 20px
	.languages
		position: absolute
		z-index: 1
		top: rem(72)
		right: rem(72)
		transform: translateX(200%)
		opacity: 0
		visibility: hidden
		transition-delay: 0.6s
		display: flex
		align-items: center
		transition: all 0.3s linear
		li
			display: flex
			align-items: center
			a
				margin-left: rem(18)
				font-size: rem(18)
				text-decoration: underline
		svg
			fill: $w
			width: 24px
			height: 24px

.logo_animate
	width: 200px
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	left: 0
	top: 0
	max-height: 300px
	&:hover
		.line_1
			fill: darken($lBlue, 5%)
			transform: translate(-9px, 30px)
		.line_2
			fill: lighten($dBlue, 5%)
			transform: translate(-7px, 20px)
		.line_3
			fill: darken($red, 15%)
			transform: translate(-5px, 10px)
		.logo_text
			fill: lighten($dw, 20%)
			transform: translate(-55%, -40%)
	svg
		height: inherit
		margin: 0 -26px
	.line_1
		fill: $lBlue
		transform: translate(0, 0)
		transition-delay: 0.15s
	.line_2
		fill: $dBlue
		transform: translate(0, 0)
		transition-delay: 0.1s
	.line_3
		fill: $red
		transform: translate(0, 0)
		transition-delay: 0.05s
	.logo_text
		width: 65%
		height: 100%
		fill: $dw !important
		position: absolute
		left: 65%
		top: 50%
		transform: translate(-50%, -50%)
		transition-delay: 0.2s

.hamb_animate
	width: 4rem
	min-width: 100px
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-evenly
	align-items: center
	outline: none
	&:hover
		.line_1
			margin-left: 0px
			background-color: $lBlue
		.line_2
			background-color: $dBlue
		.line_3
			margin-left: 0px
			background-color: $red
	> div
		transition: all 0.3s linear
		background-color: $w
		width: 100%
		height: 4px
		&:not(:first-child)
			margin-top: 0.5rem
	.line_1
		margin-left: 15px
	.line_2
		transition-delay: 0.05s
	.line_3
		margin-left: -15px
		transition-delay: 0.1s

.navCheckupBtn
	opacity: 0
	transform: skew(-$skew) translate(0, 50px)
	animation: navCheckup 1s 0s ease-in forwards
.smallCheckupBtn
	width: 36px
	height: 36px
	margin-left: 1rem
	cursor: pointer
	display: none
	position: relative
	flex: 1 0 auto
	&:hover svg
		fill: $lBlue !important
	svg
		width: 100%
		height: 100%
		fill: $red !important
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
