header
	width: 100%
	position: absolute
	z-index: 5
	top: 0
	.contacts
		backdrop-filter: blur(8.2px)
		.wrapper
			display: flex
			align-items: center
			justify-content: space-between
			padding: rem(12) 0
			> *
				padding: rem(24)
			.logo
				margin-top: -1rem
				margin-bottom: -4rem
				padding-top: 0
				padding-bottom: 0
			.hamb svg
				fill: $w
			.languages li
				display: inline-block
				font-size: rem(16)
				color: $w
				a
					text-decoration: underline
					opacity: 0.6
			.time, .contact
				color: $w
				text-align: right
				p, a
					color: $w
				span
					font-size: rem(16)
					opacity: 0.6
					&:hover
			.contact
				position: relative
				padding-right: rem(44)
				&:hover
					background-color: $w
					a
						color: $dGrey
					span
						color: $dGrey
						position: relative
						z-index: 20
						user-select: none
					.additional
						opacity: 1
						visibility: visible
				p
					position: relative
					fill: $red
					> svg
						position: absolute
						top: 50%
						right: rem(-20)
						transform: translate(0%, -50%)
				a
					font-weight: 500
					&:hover
						color: $lBlue
				span
					color: $w
					opacity: 0.6
					font-size: rem(16)
					text-decoration: underline
				.additional
					width: 100%
					position: absolute
					top: 60%
					left: 0
					opacity: 0
					visibility: hidden
					background-color: $w
					padding: rem(24) rem(44) rem(24) rem(24)
					z-index: 10
					text-align: left
					> li
						.type li svg
							width: rem(20)
							height: rem(20)
						a
							color: $dGrey
							font-size: rem(23)
							font-weight: bold
							&:hover
								color: $lBlue
						span
							font-size: rem(18)
							color: $dGrey
							text-decoration: none
							opacity: 0.5
						&:not(:first-child)
							margin-top: rem(24)
			.social
				display: inline-block
				li
					margin-left: 1rem
				.social_link svg
					fill: $w
					&:hover
						fill: $lBlue
	nav
		position: relative
		z-index: -1
		background-color: $dGrey
		.wrapper
			display: flex
			align-items: center
			justify-content: flex-end
			padding: rem(16) 0
			.links
				display: flex
				align-items: center
				justify-content: center
				li a
					margin: 0 1rem
					font-size: rem(18)
					font-weight: 500
					color: $w
					&:hover
						color: $lBlue
			.checkup
				margin-bottom: -1.5rem

#expandedMenu
	position: fixed
	top: 0
	left: 0
	z-index: 955
	width: 100vw
	height: 100vh
	overflow: hidden
	opacity: 0
	visibility: hidden
	display: flex
	color: $w
	&.activeOverlay
		opacity: 1
		visibility: visible
	> *:not(.closeOverlay):not(.languages)
		width: 25%
		height: 100%
		padding: rem(280) rem(48) 0 rem(108)
		background: linear-gradient(207deg, #181f29, #153155)
		backdrop-filter: blur(30px)
	.clients, .services
		h5
			font-size: rem(24)
			font-weight: bold
			position: relative
			svg
				width: 0.7rem
				height: 1.1rem
				fill: $red
				position: absolute
				left: 0
				top: 50%
				transform: translate(-2rem, -50%)
		ul
			margin-top: rem(36)
		li
			display: block
			&:not(:first-child)
				margin-top: rem(36)
			a
				font-size: rem(20)
				font-weight: 500
				&:hover
					color: $lBlue
	.contacts
		display: flex
		flex-direction: column
		> li
			display: flex
			position: relative
			&:not(:first-child)
				margin-top: rem(48)
			> svg
				width: rem(24)
				height: rem(24)
				position: absolute
				top: 0
				left: 0
				transform: translate(-2rem, 3px)
				fill: $red
			a
				display: block
				&:hover
					color: $lBlue
			.phone_list > a
				margin-bottom: rem(12)
		.social
			text-align: center
			fill: $w
			li
				&:not(:first-child)
					margin-left: rem(18)
				a
					fill: $w
					&:hover
						fill: $lBlue
					svg
						width: rem(36)
						height: rem(36)
	.phones
		> li
			display: flex
			position: absolute
			.phone:not(:first-child)
				margin-top: rem(48)
			> svg
				width: rem(24)
				height: rem(24)
				position: absolute
				top: 0
				left: 0
				transform: translate(-2rem, 3px)
				fill: $red
			a
				display: block
				&:hover
					color: $lBlue
	.phone_list
		display: flex
		flex-wrap: wrap
	.phone
		.phone_first
			display: flex
			align-items: center
			justify-content: space-between
			a
				font-size: rem(24)
				font-weight: bold
		span
			display: flex
			align-items: center
			opacity: 0.5
			font-size: rem(18)
		.phone_type
			margin-left: rem(20)
			svg
				width: rem(20)
				height: rem(20)
	.languages
		position: absolute
		top: rem(72)
		right: rem(72)
		li
			display: flex
			align-items: center
			a
				margin-left: rem(18)
				font-size: rem(18)
				text-decoration: underline
		svg
			fill: $w
			width: rem(24)
			height: rem(24)

