header
	width: 100%
	position: absolute
	z-index: 5
	top: 0
	.contacts
		backdrop-filter: blur(8.2px)
		.wrapper
			display: flex
			align-items: center
			justify-content: space-between
			padding: rem(12) 0
			> *
				padding: rem(24)
			.logo
				margin-top: -1rem
				margin-bottom: -4rem
				padding-top: 0
				padding-bottom: 0
			.hamb svg
				fill: $w
			.languages li
				display: inline-block
				font-size: rem(16)
				color: $w
				a
					text-decoration: underline
					opacity: 0.6
			.time, .contact
				color: $w
				text-align: right
				p, a
					color: $w
				span
					font-size: rem(16)
					opacity: 0.6
			.contact
				position: relative
				padding-right: rem(44)
				fill: $red
				transition: all 0.3s ease
				&:hover
					background-color: $w
					a
						color: $dGrey
					span
						color: $dGrey
						position: relative
						z-index: 20
						user-select: none
					.additional
						opacity: 1
						visibility: visible
				> svg
					position: absolute
					top: 1.5rem
					right: 0.5rem
					transform: translate(-50%, 0%)
				a
					position: relative
					fill: $red
					font-weight: 500
					&:hover
						color: $lBlue
				span
					color: $w
					opacity: 0.6
					font-size: rem(16)
					text-decoration: underline
				.additional
					width: 100%
					position: absolute
					top: 60%
					left: 0
					opacity: 0
					visibility: hidden
					background-color: $w
					padding: rem(24) rem(44) rem(24) rem(24)
					z-index: 10
					text-align: left
					transition: all 0.3s ease
					> li
						.type li svg
							width: rem(20)
							height: rem(20)
						a
							color: $dGrey
							font-size: rem(23)
							font-weight: bold
							&:hover
								color: $lBlue
						span
							font-size: rem(18)
							color: $dGrey
							text-decoration: none
							opacity: 0.5
						&:not(:first-child)
							margin-top: rem(24)
			.social
				display: inline-block
				li
					margin-left: 1rem
				.social_link svg
					fill: $w
					&:hover
						fill: $lBlue
	nav
		position: relative
		z-index: -1
		background-color: $dGrey
		.wrapper
			display: flex
			align-items: center
			justify-content: space-between
			padding: rem(16) 0 rem(16) 10.5rem
			.links
				display: flex
				align-items: center
				justify-content: center
				li a
					margin: 0 1rem
					font-size: rem(18)
					font-weight: 500
					color: $w
					&:hover
						color: $lBlue
			.checkup
				margin-bottom: -1.5rem

#expandedMenu
	position: fixed
	z-index: 0
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	overflow: hidden
	opacity: 0
	visibility: hidden
	display: flex
	color: $w
	transition: all 0.3s ease
	&.activeOverlay
		opacity: 1
		visibility: visible
		z-index: 955
		> *:not(.closeOverlay):not(.languages)
			transform: translateY(0)
		.languages
			transform: translateX(0)
			opacity: 1
			visibility: visible
	> *:not(.closeOverlay):not(.languages)
		width: 25%
		height: 100%
		padding: rem(280) rem(48) 0 rem(108)
		background: linear-gradient(207deg, #181f29, #153155)
		backdrop-filter: blur(30px)
		transform: translateY(100%)
		transition: all 0.3s ease
		&:nth-child(1)
			transition-delay: 0.1s
		&:nth-child(2)
			transition-delay: 0.2s
		&:nth-child(3)
			transition-delay: 0.3s
		&:nth-child(4)
			transition-delay: 0.4s
	.clients, .services
		h5
			font-size: rem(24)
			font-weight: bold
			position: relative
			svg
				width: 16px
				height: 24px
				fill: $red
				position: absolute
				&.line
					left: 0
					top: 50%
					transform: translate(-150%, -50%)
			.arrow
				width: 16px
				height: 24px
				right: 0
				top: 50%
				transform: translate(0%, -50%)
				cursor: pointer
				position: absolute
				display: none
				> svg
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) rotate(0)
					&:hover
						fill: $lBlue
		ul
			margin-top: rem(36)
		li
			display: block
			&:not(:first-child)
				margin-top: rem(36)
			a
				font-size: rem(20)
				font-weight: 500
				&:hover
					color: $lBlue
	.contacts
		display: flex
		flex-direction: column
		> li
			display: flex
			position: relative
			&:not(:first-child)
				margin-top: rem(48)
			> svg
				width: 24px
				height: 24px
				margin-right: 18px
				position: absolute
				top: 0
				left: 0
				transform: translate(-2rem, 3px)
				fill: $red
			a
				display: block
				&:hover
					color: $lBlue
			.phone_list > a
				margin-bottom: rem(12)
		.social
			text-align: center
			fill: $w
			li
				&:not(:first-child)
					margin-left: rem(18)
				a
					fill: $w
					&:hover
						fill: $lBlue
					svg
						width: 36px
						height: 36px
	.phones
		h5
			display: none
			font-size: rem(24)
			font-weight: bold
			position: relative
			svg
				width: 16px
				height: 24px
				fill: $red
				position: absolute
				&.line
					left: 0
					top: 50%
					transform: translate(-150%, -50%)
			.arrow
				width: 16px
				height: 24px
				right: 0
				top: 50%
				transform: translate(0%, -50%)
				cursor: pointer
				position: absolute
				display: none
				> svg
					position: absolute
					left: 50%
					top: 50%
					transform: translate(-50%, -50%) rotate(0)
					&:hover
						fill: $lBlue
		> li
			display: flex
			position: absolute
			.phone:not(:first-child)
				margin-top: rem(48)
			> svg
				width: 24px
				height: 24px
				position: absolute
				top: 0
				left: 0
				transform: translate(-2rem, 3px)
				fill: $red
			a
				display: block
				&:hover
					color: $lBlue
	.phone_list
		display: flex
		flex-wrap: wrap
	.phone
		.phone_first
			display: flex
			align-items: center
			justify-content: space-between
			a
				font-size: rem(24)
				font-weight: bold
		span
			display: flex
			align-items: center
			opacity: 0.5
			font-size: rem(18)
		.phone_type
			margin-left: rem(20)
			svg
				width: 20px
				height: 20px
	.languages
		position: absolute
		z-index: 1
		top: rem(72)
		right: rem(72)
		transform: translateX(200%)
		opacity: 0
		visibility: hidden
		transition-delay: 0.6s
		display: flex
		align-items: center
		transition: all 0.3s ease
		li
			display: flex
			align-items: center
			a
				margin-left: rem(18)
				font-size: rem(18)
				text-decoration: underline
		svg
			fill: $w
			width: 24px
			height: 24px

.logo_animate
	margin: -1rem 2.5rem -4rem 0
	padding-top: 0 !important
	padding-bottom: 0 !important
	position: relative
	width: rem(200)
	height: rem(200)
	display: flex
	justify-content: center
	align-items: center
	&:hover
		.line_1
			transform: translate(-0.2rem, 1rem)
			fill: darken($lBlue, 5%)
		.line_2
			fill: lighten($dBlue, 5%)
		.line_3
			transform: translate(0.2rem, -1rem)
			fill: darken($red, 15%)
		.logo_text
			fill: lighten($dw, 20%)
	svg
		margin: 0 -1.1rem
		height: 100%
	.line_1
		fill: $lBlue
		transform: translate(0, 0)
	.line_2
		fill: $dBlue
		transform: translate(0, 0)
	.line_3
		fill: $red
		transform: translate(0, 0)
	.logo_text
		width: 65%
		height: 100%
		fill: $dw !important
		position: absolute
		left: 65%
		top: 50%
		transform: translate(-50%, -50%)

.hamb_animate
	width: 5rem
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-evenly
	align-items: center
	&:hover
		.line_1
			transform: translate(0px, 0)
			background-color: $lBlue
		.line_2
			transform: translate(0, 0)
			background-color: $dBlue
		.line_3
			transform: translate(0px, 0)
			background-color: $red
	> div
		transition: all 0.3s ease
		background-color: $w
		width: 100%
		height: 4px
		&:not(:first-child)
			margin-top: 0.5rem
	.line_1
		transform: translate(7px, 0)
	.line_2
		transform: translate(0, 0)
		transition-delay: 0.05s
	.line_3
		transform: translate(-7px, 0)
		transition-delay: 0.1s

#navCheckupBtn
	&.toBottom
		position: fixed
		right: 8%
		bottom: 72px
		z-index: 500