@media (max-width: 1600px)
	html
		font-size: 20px
	.wrapper
		width: 1280px
	#connect_wrapper, #resume_wrapper
		width: 740px

@media (max-width: 1600px) and (min-width: 1100px)
	header.roll .contacts .wrapper .hamb_animate
		left: 200px

@media (max-width: 1400px)
	.wrapper
		width: 90% !important
	header
		.contacts .wrapper
			.social li
				margin-left: 5px
			> *:not(.empty)
				width: max-content
				white-space: nowrap
			.logo_animate .logo_text
				min-width: 130px
				left: 70%
		nav .wrapper .links li a
			width: max-content
		.navCheckupBtn
			display: none
		.smallCheckupBtn
			display: inline-block

	.other .card h5
		svg
			width: 50px
		p
			font-size: 18px

	.figure_1
		right: 5%

@media (max-width: 1280px)
	#expandedMenu
		> *:not(.closeOverlay):not(.languages)
			padding: 8rem 1rem 0 2.5rem
	header
		.contacts .wrapper .social
			display: none
		nav .wrapper .links li a
			margin: 0 12px
	.other .card
		width: 328px
		h5 span
			font-size: 16px
	.signup
		right: 5%

	section.services .wrapper .cards .card
		.card_title h4
			font-size: 1.2rem
		.card_text
			transform: translate(0, 1rem) skew($skew)
	section.news .wrapper .cards .pages .page .card
		width: 280px
		height: 360px
	section.info .wrapper .main .imgs .pros
		width: 80%
	section.post
		.date
			left: 0
		.blog_title, p.accent, p, .list_wrapper
			padding: 0
		.share
			margin: 2rem 0
	section.service_post .result
		padding: 0
		.right_works
			width: 45%
			padding-top: 0
	section.facts
		.wrapper
			width: 80% !important
		.figure_2
			left: 75% !important
	section.info_about .wrapper
		flex-direction: column
		.left_text
			width: 100%
			padding: 0
		.right_master
			width: 100%
			margin-top: 8rem
			align-items: center
		.master
			width: 550px
	section.workshop .facts_cards .card
		width: 100vw
	section.workexamps .wrapper .card
		width: 280px
	section.galleryexamps .wrapper .gallery
		justify-content: center
		img
			width: 360px

	footer .wrapper
		.copyright .logowrap
			flex-direction: column
			margin-bottom: 1.5rem
			.slogan
				align-self: flex-start
				margin-top: 0.5rem
				margin-left: 0
		.clients li a
			font-size: 16px
		.contacts
			justify-content: flex-start

	.figure_2
		left: 50% !important
	.figure_4
		right: 5%

@media (max-width: 1100px)
	header
		.contacts .wrapper
			.empty
				display: none
			.logo_animate
				top: -90px
				.logo_text
					left: 65%
					top: 70%
		nav
			display: none

	section.banner .slogan .wrapper h2
		font-size: 36px
		width: 90%
	section.request
		.connect_img, .connect_figure
			display: none
		.figure_8
			width: 80%

	footer
		padding-bottom: 0
		.wrapper
			flex-wrap: wrap
			justify-content: center
			> *
				width: 30%
				margin: 0 2rem 3rem
			.copyright
				order: 1
			.contacts
				order: 2
			.clients
				order: 3

	#closeOverlay
		left: 1rem
		top: 1.5rem
	#expandedMenu
		flex-wrap: wrap
		height: auto
		> *:not(.closeOverlay):not(.languages)
			width: 50%
			height: auto
			padding: 2rem 0rem 2rem 3rem
			&:nth-child(1), &:nth-child(2)
				padding: 5rem 0rem 2rem 3rem
		.languages
			top: 2rem

@media (max-width: 1000px)
	.figure_11 img
		height: 150%
	header .contacts .wrapper
		padding: 1.5rem 0 1.5rem 33%
		.languages, .time, .contact > span, .contact > p > svg, .empty
			display: none
		.logo_animate
			order: 1
			margin-right: 0
		.contact
			order: 2
		.hamb_animate
			order: 3
	section.services
		height: auto
		padding: 152px 0 172px
		.wrapper
			h3
				top: -80px
				font-size: 46px
			.figure_11
				top: -152px
			.cards
				width: 100%
				height: auto
				position: relative
				left: unset
				top: unset
				transform: translate(0, 0)
				flex-direction: column
				.card
					width: 100% !important
					height: 120px
					transform: skew(0)
					&.appeared
						animation: serviceCardsUnskew
						animation-fill-mode: forwards
						animation-timing-function: ease-in
					&:not(:first-child)
						margin-top: 2px
					.card_image img
						width: 150vw
						height: auto
						transform: translate(-50%, -50%) skew(0) !important
					.card_title
						width: min-content
						position: absolute
						left: 24px
						top: 50%
						transform: translate(0%, -50%) skew(0) !important
						h4
							font-size: 24px
							transform: skew(0)
						.card_text
							display: none
	section.popular
		padding-bottom: 72px
		.master_arrows
			display: none
	section.portfolio
		.wrapper
			overflow: hidden
			.main
				margin-top: 3rem
				flex-direction: column
			.main_img
				width: 85%
			.text
				width: 100%
				margin: 36px 0 0 0
				h4
					font-size: 24px
				div
					margin-top: 18px
					p
						font-size: 18px
	section.info .wrapper .main
		flex-direction: column
		.text
			width: 100%
			margin-top: 36px
			> svg
				display: none
			> div
				margin: 0
				p
					font-size: 18px
		.imgs
			width: 100%
			margin-top: 100px
			.shard
				width: 8rem
				left: 3rem
			.photo
				width: 100%
			.pros
				width: 70%
				margin: 0 auto
				position: relative
				right: unset
				bottom: unset
				margin-top: 36px
				.pro_card
					padding: 36px 16px
					p
						font-size: 16px
	section.post
		.wrapper
			width: 90%
	section.portfolio_main
		padding: 0 0 72px
		.wrapper
			padding-top: 2rem
			nav:not(.pagination)
				width: 100vw
				transform: skew(0) translate(-50%, 0)
				flex-direction: column
				max-height: 77px
				position: absolute
				z-index: 15
				left: 50%
				top: 0
				&.expanded
					max-height: max-content
					.nav_arrow svg
						transform: translate(-50%, -50%) rotate(180deg)
					button
						opacity: 1
						visibility: visible
						position: relative
				button
					width: 100%
					background-color: $w
					color: $dGrey
					text-align: left
					padding: 10px
					opacity: 0
					visibility: hidden
					position: absolute
					&.active
						opacity: 1
						visibility: visible
						position: relative
					&:hover
						border-top: 1px solid $lGrey
						border-bottom: 1px solid $lGrey
						span
							color: $red
				span
					transform: skew(0)
					font-size: 16px
					font-weight: bold
				.nav_arrow
					display: block
			.other
				margin-top: 0
				padding-top: 72px
				display: flex !important
				flex-direction: column
				align-items: center
				.card
					margin: 0 0 18px 0
					h5
						left: 10px
	section.workplan
		padding: 72px 0
		overflow: hidden
		.left_text, .right_text
			width: 100%
			margin-top: 0
		.up_photos
				height: auto
				text-align: center
				h2
					width: 100%
					font-size: 24px
					display: flex
					flex-direction: column
					align-items: center
					.brand
						max-width: max-content
						width: 50%
						margin-top: 0
				> img
					position: relative
					width: 100% !important
					height: auto !important
					max-width: 400px !important
					max-height: 400px !important
					margin: 18px 0
					top: unset !important
					left: unset !important
					bottom: unset !important
					right: unset !important
		.figure_10
			display: none
	section.reviews .quote_card
		width: 91vw


	footer .wrapper > *
		width: 50%
		margin: 0 0 3rem

@media (max-width: 850px)
	section .wrapper > h3
		font-size: 2.3rem

	section.banner
		.banner_img
			&.video
				opacity: 0
				visibility: hidden
				position: absolute
			&.img
				opacity: 1
				visibility: visible
				position: relative
	section.info_about
		.video_left
			width: 100%
			.img_bg.appeared
				width: 100%
				img
					height: 244px
					object-fit: cover
					object-position: center
		.video_text
			left: unset
			right: 10px
			transform: translate(0, 0)
			width: 160px
			h2
				font-size: 24px
	.facts_cards
		justify-content: center
		.card
			width: 75%
	section.about_video
		overflow: hidden
	section.workshop
		padding: 0 0 72px
		.wrapper
			flex-direction: column
			aside
				width: 105vw
				position: absolute
				left: 52%
				transform: translate(-50%, 0)
				z-index: 15
				padding: 18px 0 36px
				margin: 0 0 0 -16px
				max-height: 53px
				overflow: hidden
				a:not(.current)
					opacity: 0
					visibility: hidden
					position: absolute
				&:not(.expanded) *
					margin: 0 !important
				&.expanded
					max-height: max-content
					a:not(.current)
						opacity: 1
						visibility: visible
						position: relative
					.navExpand svg
						transform: translate(-50%, -50%) rotate(180deg)
					.stripes
						opacity: 1
						visibility: visible
					.sublist
						opacity: 1
						visibility: visible
				> .list
					width: 92%
					margin: 0 auto
				.navExpand
					display: block
					top: 9px
				.list > li
					margin: 0
					&:not(:first-child)
						margin-top: 16px
						.stripes
							display: none
					.arrow
						display: none
					a
						padding-left: 30px
						font-size: 18px
					.stripes
						top: 2px
						transform: translate(0, 0)
				.sublist
					height: auto
					overflow: hidden
					opacity: 0
					visibility: hidden
					> li a
						font-size: 16px
			main
				width: 100%
				margin-top: 6rem
				p
					font-size: 18px
					&.accent
						font-size: 20px
				.pricelist
					display: block
					overflow-x: auto
					td
						font-size: 16px
						padding: 18px
						&:nth-child(1)
							max-width: 50%
							padding-left: 0
				.checkup
					margin-top: 36px

	#expandedMenu
		flex-direction: column
		height: auto
		overflow: scroll
		flex-wrap: nowrap
		> *:not(.closeOverlay):not(.languages)
			width: 100%
			background: $dGrey
			padding: 24px 30px 24px 50px
			transition-delay: 0s !important
			&:nth-child(1)
				padding: 110px 30px 24px 50px
				max-height: 158px
				overflow: hidden
				&.expanded
					max-height: 1000px
			&:nth-child(2)
				padding: 24px 30px 24px 50px
				max-height: 78px
				overflow: hidden
				&.expanded
					max-height: 1000px
		.clients
			order: 1
			> ul
				opacity: 0
				visibility: hidden
			&.expanded > ul
				opacity: 1
				visibility: visible
			&:not(:first-child)
				border-top: 1px solid rgba($w, 0.1)
		.services
			order: 2
			border-top: 1px solid rgba($w, 0.1)
		.phones
			order: 3
			border-top: 1px solid rgba($w, 0.1)
			max-height: 78px
			overflow: hidden
			&.expanded
				max-height: 1000px
			h5
				width: 100%
				display: block
				font-size: 24px
				margin-bottom: 2rem
				svg.line
					transform: translate(-200%, -50%)
				.arrow
					display: block
			> li
				position: relative
				margin-top: 20px
				> svg
					transform: translate(-36px, 0px)
			a
				font-size: 18px !important
				font-weight: bold
			span
				margin-top: 4px
				font-size: 16px
		.contacts
			order: 4
			padding-top: 0 !important
			opacity: 0
			visibility: hidden
			max-height: 0px
			&.expanded
				opacity: 1
				visibility: visible
				max-height: 1000px
			> li
				> svg
					transform: translate(-36px, 0px)
				a, span
					font-size: 18px
		.clients, .services
			h5
				width: 100%
				font-size: 24px
				svg.line
					transform: translate(-200%, -50%)
				.arrow
					display: block
			li
				> svg
					top: 50%
					transform: translate(-36px, -50%)
				a
					font-size: 16px
					color: $lGrey
					text-decoration: underline
		.clients, .services, .phones
			h5
				cursor: pointer
				transition: 0.3s linear
				&:hover
					color: $lBlue
			&.expanded
				.arrow svg
					transform: translate(-50%, -50%) rotate(180deg)
	#connect_wrapper, #resume_wrapper
		width: 100%
		max-height: 100vh
		padding: 72px 16px
		transform: translate(-50%, -50%) skew(0) !important
		h2
			font-size: 22px
			transform: skew(0)
			margin-left: 0
		.gform_wrapper
			width: 100%
			transform: skew(0)
			input:not([type=submit]), textarea
				padding: 12px 12px 12px 0
				font-size: 16px
				&:not(:nth-child(1))
					margin-top: 36px
			textarea
				min-height: 80px
			input[type=submit]
				margin: 0 0 0 auto
		.gform_footer
			margin-left: auto
		#closeConnect, #closeResume
			transform: skew(0)
		.connect_img, .connect_figure
			display: none

	.figure_3
		display: none

@media (max-width: 767px)
	section
		height: auto !important
	.hidden_360, .figure_4, .figure_8 > .figure_42, .figure_9, .figure_10, .figure_12
		display: none
	.figure_3
		.figure_31
			width: 5rem
			height: 132px
		.figure_32
			width: 2.5rem
			height: 9rem
			top: -3rem
			left: 5rem
		.figure_33
			top: -4rem
			left: 4.5rem
	.figure_13, .figure_7
		display: none
	.figure_11
		width: 180px
		left: -72px !important
	.figure_2
		.figure_21
			width: 2rem
			height: 4rem
		.figure_22
			width: auto
			height: 6rem
		.figure_23
			width: 3rem
			height: 3rem
			left: 3rem
	.figure_8
		width: 80% !important
		height: 200px !important
		left: 3rem !important
	.next:not(:nth-of-type(1)):not(.page-numbers)
		display: none
	.checkup
		button, input, a
			padding: 16px 18px !important
	.navigation.pagination .nav-links
		justify-content: center
		flex-wrap: wrap
		.page-numbers
			margin: 10px

	header .contacts .wrapper .contact
		.additional, > svg, > .type
			display: none
		a
			font-size: 16px
		> svg
			display: none
		&:hover
			background-color: transparent
			a
				color: $lBlue

	.other
		margin: 72px 0 0
		.card
			height: 228px
			h5
				height: auto
				overflow: visible
				left: 10px
				p:before
					display: none
				span
					font-size: 18px
		svg
			display: none
	.navpages_2
		justify-content: center
		li
			font-size: 16px
			button
				font-size: 16px
	.list_wrapper
		.list_title
			font-size: 18px
			line-height: 1.44
		.list li
			svg
				width: 3%
			span
				width: 94%
				font-size: 18px
	#connect_form_2
		width: 100%
		input:not([type=submit])
			margin-top: 36px !important
			font-size: 16px !important
		.checkup
			margin: 36px 0 0 auto !important

	section.banner
		height: 600px !important
		.banner_img
			height: 100%
			width: auto
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			min-height: auto
		.slogan
			bottom: 15%
			br
				display: none
		.video
			padding-left: 1.5rem
			a
				margin-left: 2.5rem
				font-size: 1.5rem
	section.blog_banner
		height: 360px !important
		.banner_img
			height: 100%
			width: auto
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	section.portfolio
		.wrapper
			.main_img
				width: 85%
				height: 222px
			.text
				width: 100%
				margin: 36px 0 0 0
				h4
					font-size: 24px
				div
					margin-top: 18px
					p
						font-size: 18px
	section.about_video .wrapper
		.video_left
			width: 100%
		.video_text
			left: 0
	section.blog_news
		padding: 72px 0
		.wrapper .cards
			margin-top: 0
			.pages .page .card
				width: 100%
				height: 203px
	section.post
		padding: 72px 0
		.list_wrapper
			width: 100%
		.wrapper
			.dotsWrapper
				display: flex
			> *:not(.date)
				padding: 0
			.date
				top: -5.5rem
			p
				font-size: 18px
				&.accent
					font-size: 20px
			.gallery
				button, .big
					display: none
				.all
					width: 100%
					padding: 0
					margin-left: 0
				.tape
					position: relative
					width: 100%
					img
						width: 328px
						height: 220px
						margin: 0 8px
						opacity: 1
			.share
				margin-left: 0
				margin-right: 0
				padding: 24px 36px
				flex-direction: column
				span
					font-size: 16px
					text-align: center
				ul
					margin-top: 18px
					li a, li button
						padding: 0
	section.also_news
		padding: 72px 0 !important
	section.vacancies
		padding: 72px 0
		.wrapper
			width: 100% !important
			.vacancy
				width: calc( 100% - 32px )
				margin-left: auto
				margin-right: auto
				height: auto
				background-color: $dw
				padding: 0
				&.active
					width: 100%
					height: auto
					background-color: $w
					padding: 0 16px 24px
					max-height: 3000px
					.expand
						right: 3rem
				h3
					padding: 2rem 3.5rem 1rem 2rem
					font-size: 18px
					.expand
						width: 18px
						height: 10px
						top: 2.2rem
				p
					font-size: 16px
				.send
					margin-left: auto
					margin-right: 2rem
	section.info_about
		padding: 72px 0 0
		.figure_13
			right: -40px !important
		.wrapper
			flex-direction: column
		.left_text
			width: 100%
			padding-bottom: 7rem
			p
				font-size: 18px
				&.accent
					font-size: 20px
		.right_master
			width: 100%
			.master
				margin-right: -4rem
			.master_name .name
				width: 40%
				h5
					font-size: 24px
				span
					font-size: 16px
			.master_img
				left: -20%
	section.about_video
		padding: 72px 0
		.figure_7
			width: 10rem !important
			height: 173px !important
			left: 5% !important
		.wrapper
			.video_text
				right: 0
				transform: translate(0, 0)
				h2
					font-size: 24px
			.video
				margin-top: 3rem
				margin-left: 1.5rem

	section.service_post
		padding: 36px 0 72px
		overflow: hidden
		.result
			flex-direction: column
			.left_text
				width: 100%
				font-size: 18px
			.right_works
				width: 100%

	section.popular
		padding: 72px 0
		.wrapper
			h3
				position: relative
				top: 0
			.figure_11
				top: -72px
			.cards
				margin-top: 36px
				.card
					width: 100% !important
			.master_arrows
				position: relative
				bottom: 0
				margin-top: 36px
				text-align: right
				padding-right: 8px
	section.workplan
		.left_text
			margin-bottom: 2rem
			p
				font-size: 18px
		.right_text
			h3
				font-size: 36px
			ol li
				font-size: 18px
	section.galleryexamps
		overflow: hidden
	section.workexamps
		padding: 72px 0
		overflow: hidden
		.wrapper
			h2
				font-size: 36px
			.exampscards
				margin: 36px 0
				.card
					height: auto
	section.request
		padding: 72px 0
		overflow: hidden
		.wrapper
			flex-direction: column
			.left_text
				width: 100%
				h2
					font-size: 36px
				p
					width: 100%
					font-size: 18px
			.right_form
				width: 100%
				margin-top: 2rem
				.connect_img, .connect_figure
					display: none
				.figure_8
					height: 250px !important
					left: 9rem !important
					top: 1rem !important
	section.reviews
		.figure_7
			left: unset !important
			right: 0
			.figure_71
				width: auto
				height: auto
		.wrapper
			.quote_cards
				margin: 0
			.quote_card
				.date
					font-size: 16px
				p
					font-size: 18px
	section.faq
		padding: 72px 0
		overflow: hidden
		.figure_11
			height: 300px !important
			max-height: 100%
			left: -110px !important
		.wrapper
			width: 100% !important
			.faq_list
				width: 100%
				.faq_item
					width: 100%
					margin: 0
			.vacancy
				width: calc( 100% - 32px )
				margin-left: auto
				margin-right: auto
				max-height: 9rem
				background-color: $dw
				padding: 0
				&.active
					width: 100%
					max-height: max-content
					background-color: $w
					padding: 0 16px 24px
					h3
						padding-left: 0
					.expand
						right: 2rem
				h3
					padding: 2rem 5.4166666667rem 2rem 2rem
					font-size: 18px
					.expand
						width: 18px
						height: 10px
						padding: 0
						top: 3.5rem
				p
					font-size: 16px
	section.adv
		padding: 72px 0
		.wrapper
			flex-direction: column
			.left_text
				width: 100%
				h2
					font-size: 36px
				p
					font-size: 18px
			.right_img
				width: 100%
				margin-top: 36px
	section.map_banner
		height: auto !important
		display: flex
		flex-direction: column
		overflow: hidden
		padding-bottom: 0
		.banner_img.map
			width: 100%
			height: 480px
			position: relative !important
			order: 2
			overflow: hidden
			left: unset
			top: unset
			transform: none
			&::before
				background: none
				z-index: -1
		.wrapper
			order: 1
			padding: 170px 0 36px 0
		.contact_info
			width: 100%
			.below
				flex-direction: column
				align-items: flex-start
				margin-top: 0
			.social, .checkup
				margin: 36px 0 0 0
			h2
				font-size: 24px
			a, .phone .phone_first a, .contacts span
				font-size: 18px
			.phone > span
				font-size: 16px
	section.facts .figure_2
		display: none
	footer
		padding-bottom: 2rem
		.wrapper
			flex-direction: column
			padding-bottom: 5rem
			> *
				width: 100% !important
				margin: 0 !important
			.copyright
				.logowrap
					.logo
						width: 100px
						height: 100px
					.slogan
						margin-left: 0
						font-size: 16px
				.creators
					width: 100%
					padding: 0 0 0 34px
					border-top: 1px solid rgba($w, 0.1)
					position: absolute
					bottom: 0
					p
						font-size: 16px
			.clients, .services
				padding: 24px 0 24px 34px
				border-top: 1px solid rgba($w, 0.1)
				overflow: hidden
				max-height: 4rem
				transition-duration: 0.6s
				&.expanded
					max-height: 500px
					ul
						opacity: 1
						visibility: visible
					h5 .arrow svg
						transform: translate(-50%, -50%) rotate(180deg)
				h5
					font-size: 24px
					svg.line
						transform: translate(-200%, -50%)
					.arrow
						display: block
				ul
					opacity: 0
					visibility: hidden
				li a
					font-size: 16px
			.contacts
				padding: 24px 0
				border-top: 1px solid rgba($w, 0.1)
				li
					a, span
						font-size: 16px

@media (max-width: 700px)
	.figure_3
		display: none

@media (max-width: 600px)
	section .wrapper > h3
		font-size: 36px
		width: 90%

	header
		.contacts .wrapper
			padding: 1.5rem 0 1.5rem 30%
			.logo_animate, .hamb_animate, .contact
				padding-left: 0
				padding-right: 0
				margin-left: 0
				margin-right: 0
			.logo_animate
				width: 100px
				height: 100px
				top: 0
				svg
					margin: 0 -13px
				.logo_text
					min-width: auto
					width: 70px
					left: 65%
					top: 55%
			.hamb_animate
				min-width: 50px
				margin-right: 1rem

	section.news
		padding-bottom: 12rem
		.signup
			bottom: 6rem
	section.portfolio
		padding: 72px 0 10rem
		.signup
			bottom: 5rem
		.wrapper .main_img
			height: 15rem
	section.info
		padding-bottom: 8rem
		overflow: hidden
		.wrapper .main .text div:not(.figure_14)
			margin: 0
	section.reviews
		padding: 72px 0

	footer .wrapper
		> *
			width: 50%
			margin: 0 0 3rem
		.copyright, .contacts
			width: 100%
		.clients
			width:	50%

	section.info_about .left_text p.accent
		font-size: 20px
		&:not(:first-child)
			font-size: 18px

	.other
		display: block
		.card
			display: inline-block
	.signup
		top: unset !important
		bottom: 72px
		&:before
			width: 16px
			height: 64px
			left: -2rem
	.figure_4
		display: none

@media (max-width: 500px)
	.figure_14
		display: none
	section.info .wrapper .main .imgs
		margin-top: 120px
		.pros
			width: 100%

@media (max-width: 420px)
	header .contacts .wrapper
		.hamb_animate
			min-width: 30px


	html
		font-size: $fontSize360
	.wrapper
		width: calc(100% -  32px)
	.widePaginateCards .card
		opacity: 1 !important
		visibility: visible !important
		position: relative !important
	.wideDotsWrapper
		display: none
	.dotsWrapper
		display: flex


	section.news .wrapper
		overflow: hidden
		.cards .pages .page
			margin: 0
			.card
				.date
					font-size: 16px
				.text
					font-size: 18px
	section.post .wrapper .date
		top: -9rem
	section.facts
		overflow: hidden
		.figure_2
			display: block
		.wrapper
			width: 100% !important
		.facts_title
			margin-left: 16px
			font-size: 36px
		.facts_cards .card
			transform: skew(0) !important
			svg
				transform: skew(0)
			p
				transform: skew(0)
				font-size: 16px
		.dotsWrapper
			margin-left: 16px
	section.workshop
		.wrapper aside .navExpand
			top: 16px
		.brands
			.facts_title
				margin-top: 2rem
			.facts_cards
				width: 100vw !important
				margin: 0 0 0 -16px !important
				.card
					transform: skew(0)
					.pro_text
						transform: skew(0)
						font-size: 18px
					.pro_icon
						transform: skew(0) !important
						width: 48px
						height: 48px
	section.info
		padding-bottom: 12rem
		.wrapper .main
			.textAppear
				font-size: 18px
			.photo
				width: 140%
				margin-left: -1.5rem
			.pros
				position: relative
				right: unset
				bottom: unset
				margin-top: 36px
				width: 100vw !important
				transform: translateX(-16px)
				height: auto
				.pro_arrows
					display: none
				.pro_cards
					transform: unset
					box-shadow: unset
					height: auto
				.pro_card
					display: inline-flex
					width: 100vw
					transform: none !important
					position: relative
					transform: unset
					opacity: 1
					visibility: visible
					box-shadow: 0 rem(12) rem(24) 0 rgba(24, 31, 41, 0.12)
					padding: 36px 16px
					svg
						transform: skew(0)
					p
						transform: skew(0)
						font-size: 16px
	section.vacancies .wrapper .vacancy
		max-height: 7rem
		h3
			padding: 2rem 4.5rem 1rem 2rem
			.expand
				top: 3.2rem
	section.portfolio_main nav:not(.pagination) .nav_arrow
		top: 27px
		right: 27px
	section.info_about
		padding: 72px 0 0
		.figure_13
			right: -40px !important
		.wrapper
			flex-direction: column
		.left_text
			width: 100%
			padding-bottom: 7rem
			p
				font-size: 18px
				&.accent
					font-size: 20px
		.right_master
			width: 100%
			.master_bg
				height: 18rem
			.master_arrows
				left: 40%
			.master
				margin-right: -4rem
			.master_name
				left: 30%
				.name
					width: 40%
					h5
						font-size: 24px
					span
						font-size: 16px
			.master_img
				left: -15%

	footer .wrapper
		padding-bottom: 8rem
		.clients, .services
			max-height: 6rem

	#closeOverlay
		width: 23px
		height: 23px
		left: 87vw
		top: 25px
		svg
			width: 24px
			height: 24px
	#expandedMenu .languages
		left: 50px
		top: 24px
		li a
			font-size: 16px
	.signup
		right: 10%
	.facts_cards
		width: 100%
		margin: 0
		display: block
		.card
			width: 100vw
			display: inline-flex
	.figure_2
		left: 65% !important







