// ---------------------------------------------------------------- Reset styles
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block

ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

// +
button
	border: none
	background-color: transparent
	cursor: pointer
li, a, span
	display: inline-block
img
	width: 100%

// ---------------------------------------------------------------- Variables
$fontSize1920: 24px
$fontSize360: 18px
$skew: 14deg

$dGrey: #181f29
$w: #fff
$b: #000
$dw: #f1f2f3

$red: #d63d37
$lBlue: #8dc1fb
$dBlue: #2d568a
$lGrey: #737a84

// ---------------------------------------------------------------- Functions
@function rem($px)
	@return ($px * 1px / $fontSize1920) * 1rem

// ---------------------------------------------------------------- Mixins
@mixin block_overlay($color, $opacity)
	&:before
		content: ""
		position: absolute
		width: 100%
		height: 100%
		background-color: rgba($color, $opacity)
		transition: all 0.3s linear

// ---------------------------------------------------------------- Common styles
*
	font-family: 'Inter', sans-serif
	font-size: $fontSize1920
	transition: all 0.3s ease
	color: inherit
	text-decoration: none
	box-sizing: border-box
	line-height: 1.2

html
	width: 100vw
	font-size: $fontSize1920
	font-family: 'Inter', sans-serif
	overflow-x: hidden
	scroll-behavior: smooth

body
	position: relative
	z-index: 1
	opacity: 1
	visibility: visible
	&.loading
		opacity: 0
		visibility: hidden

section
	position: relative
	&.dark
		padding: rem(96) 0
		background-color: $dGrey
		&:before
			width: 80%
			max-height: 100%
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-10%, -50%)
		*
			color: $w
	&.light
		padding: rem(120) 0
		background-color: $w
		&:before
			width: 80%
			max-height: 100%
			position: absolute
			left: rem(150)
			top: 50%
			transform: translate(0, -50%)
		*
			color: $dGrey

.wrapper
	width: 80%
	margin: 0 auto
	position: relative
	z-index: 5

svg.replaced-svg:not(.native)
	fill: inherit
	stroke: inherit
	path, g, circle
		fill: inherit
		stroke: inherit

.next
	position: absolute
	z-index: 20
	bottom: rem(36)
	left: 50%
	transform: translate(-50%, 0)
	cursor: pointer
	fill: $w
	&.dark
		fill: $dGrey
	&:hover
		fill: $lBlue
	svg
		width: rem(36)
		height: rem(20)

.signup
	text-align: right
	font-size: rem(16)
	line-height: 1.25
	font-weight: bold
	letter-spacing: 0.96px
	text-transform: uppercase
	position: relative
	&:before
		content: ""
		width: 15px
		height: 60px
		background-color: $red
		position: absolute
		left: 0
		top: 50%
		transform: translate(-120%, -50%) skew(-$skew)

.section_title
	display: flex
	align-items: center
	justify-content: space-between
	h3
		font-size: rem(72)
		font-weight: bold
		line-height: 1.08
	.signup:hover
		color: $lBlue

.video
	width: 30%
	margin-top: rem(36)
	display: flex
	align-items: center
	&:hover
		a, button
			opacity: 1
			visibility: visible
		.rect
			width: 10px
	.figure
		width: rem(30)
		position: relative
	.triangle
		width: 0
		height: 0
		border-top: 18px solid transparent
		border-left: 32px solid $w
		border-bottom: 18px solid transparent
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	.rect
		width: 80px
		height: 60px
		background-color: $red
		position: absolute
		top: 50%
		left: 30%
		transform: translate(0%, -50%) skew(-$skew)
	a, button
		color: $w
		margin-left: rem(28)
		font-size: rem(16)
		font-weight: bold
		letter-spacing: 0.96px
		text-transform: uppercase
		opacity: 0
		visibility: hidden
		text-align: left

.navpages_2
	display: flex
	align-items: center
	justify-content: flex-end
	li button
		margin: 0 0.3rem
		font-size: rem(16)
		font-weight: bold
		&.active, &:hover
			color: $lBlue
	.arrow
		fill: $dGrey
		opacity: 0.1
		&.active
			opacity: 1
			&:hover
				fill: $lBlue
	.page_prev
		margin-right: 0.5rem
		transform: scale(2.5) rotate(90deg)
	.page_next
		margin-left: 0.5rem
		transform: scale(2.5) rotate(-90deg)

.other
	display: flex
	justify-content: flex-start
	margin: rem(100) rem(-18) 0
	color: $w
	.card
		width: rem(492)
		height: rem(400)
		margin: rem(36) rem(18)
		cursor: pointer
		position: relative
		background-color: $dGrey
		&:hover
			.card_bg
				opacity: 1
			h5 p:before
				width: 100%
		.card_bg
			width: 100%
			height: 100%
			position: absolute
			opacity: 0.4
		h5
			height: rem(64)
			overflow: hidden
			display: flex
			align-items: center
			justify-content: flex-start
			margin-top: rem(300)
			font-size: rem(24)
			font-weight: bold
			svg
				position: relative
				z-index: 10
			p
				margin-left: rem(-12)
				display: inline-block
				padding: rem(18) rem(24)
				transform: skew(-$skew)
				background-color: transparent
				position: relative
				&:before
					content: ""
					position: absolute
					top: 0
					left: 0
					width: 0%
					height: 100%
					background-color: $red
					transition: all 0.2s linear
			span
				transform: skew($skew)
				white-space: nowrap

.checkup
	width: max-content
	background-color: $red
	color: $w
	transform: skew(-$skew)
	&:hover
		background-color: $lBlue
	button, input
		padding: 1rem 1.5rem
		transform: skew($skew)
		font-size: rem(18)
		font-weight: 500
		cursor: pointer

.navpages
	display: flex
	justify-content: flex-start
	align-items: center
	margin-top: rem(72)
	li
		margin-right: rem(18)
		button
			padding: rem(2) rem(18)
			background-color: $red
			opacity: 0.3
			&.active
				opacity: 1
			&:hover
				background-color: $lBlue

.master_arrows
	position: absolute
	left: 50%
	bottom: 3rem
	transform: skew($skew)
	button
		fill: $dGrey
		opacity: 0.5
		&.active
			opacity: 1
		&:hover
			fill: $w
		svg
			transform: scale(2.5)
	.master_prev
		transform: rotate(90deg)
	.master_next
		margin-left: 0.5rem
		transform: rotate(-90deg)

.facts_title
	font-size: rem(48)
	font-weight: bold
.facts_cards
	display: flex
	flex-wrap: wrap
	margin: 2.5rem -3rem 0
	.card
		width: calc(100% / 2 - 3rem)
		margin: 0.75rem 1.5rem
		display: flex
		justify-content: space-between
		align-items: center
		padding: rem(36)
		transform: skew(-$skew)
		background-color: $w
		box-shadow: 0 rem(12) rem(24) 0 rgba(24, 31, 41, 0.12)
		.pro_icon
			min-width: rem(72)
			min-height: rem(72)
			transform: skew($skew)
		.pro_text
			margin-left: rem(24)
			transform: skew($skew)
			font-size: rem(18)

.list_wrapper
	margin-top: rem(48)
	.list_title
		font-size: rem(24)
		font-weight: 500
	.list li
		margin-top: rem(24)
		display: flex
		justify-content: space-between
		align-items: flex-start
		font-size: rem(24)
		line-height: 1.56
		svg
			width: 1.5%
			padding-top: 5px
			fill: $red
		span
			width: 96%

.vacancy
	position: relative
	padding: rem(48) rem(130) rem(48) rem(48)
	box-shadow: 0 12px 24px 0 rgba(24, 31, 41, 0.12)
	background-color: $dw
	height: rem(120)
	> *:not(h3)
		opacity: 0
		visibility: hidden
	&:not(:first-child)
		margin-top: rem(36)
	&.active
		height: auto
		background-color: $w
		> *
			opacity: 1
			visibility: visible
		h3
			color: $red
		.expand
			transform: rotate(180deg)
			fill: $red
	h3
		color: $dGrey
		text-align: left
		font-size: rem(24)
		font-weight: 500
	.expand
		width: 2rem
		position: absolute
		top: 2rem
		right: 2rem
		fill: $dGrey
		transform: rotate(0deg)
		opacity: 1 !important
		visibility: visible !important
		svg
			width: 100%
			height: 100%
		&:hover
			fill: $lBlue
	p
		margin-top: rem(36)
		font-size: rem(18)
		line-height: 1.56
	.send
		margin-top: rem(48)
		padding: rem(20)
		background-color: $red
		transform: skew(-$skew)
		&:hover
			background-color: $lBlue
		span
			color: $w
			transform: skew($skew)
			font-size: rem(18)
			font-weight: 500

#closeOverlay
	padding: 0
	position: fixed
	top: rem(72)
	left: rem(72)
	fill: $red
	z-index: 990
	opacity: 0
	visibility: hidden
	&.activeOverlay
		opacity: 1
		visibility: visible
	&:hover
		fill: $lBlue
	svg
		width: rem(48)
		height: rem(48)

#overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 950
	width: 100%
	height: 100%
	opacity: 0
	visibility: hidden
	backdrop-filter: blur(8.2px)
	cursor: pointer
	&.activeOverlay
		opacity: 1
		visibility: visible

#connect_wrapper
	width: 50%
	max-height: rem(550)
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%) skew(-$skew)
	z-index: 960
	opacity: 0
	visibility: hidden
	padding: 3rem 5rem
	background-color: $w
	&.activeOverlay
		opacity: 1
		visibility: visible
.connect_img
	position: absolute
	z-index: 2
	width: rem(436)
	height: rem(600)
	top: 50%
	right: 0.5rem
	transform: translate(0%, -50%) skew($skew)
.connect_figure
	transform: skew($skew)
	position: absolute
	z-index: 3
	height: rem(270)
	right: 1.25rem
	bottom: -3rem
#closeConnect
	transform: skew($skew)
	position: absolute
	top: rem(24)
	right: rem(24)
	fill: $red
	&:hover
		fill: $lBlue
#connect_form, #connect_form_2
	position: relative
	z-index: 5
	transform: skew($skew)
	width: 50%
	h2
		font-size: rem(36)
		font-weight: bold
		color: $dGrey
	input[type=text], input[type=tel], textarea
		width: 100%
		margin-top: rem(36)
		border: none
		border-bottom: 2px solid $dGrey
		color: $lGrey
		font-size: rem(18)
		padding: rem(12) 0
		background-color: transparent
	textarea
		max-width: 100%
		max-height: rem(180)
	.checkup
		margin-top: rem(36)
	input[type=submit]
		background-color: transparent
		border: 1px solid transparent

.lightbox
	img
		cursor: pointer
.clonedLightbox
	position: fixed
	z-index: 960
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	opacity: 0
	visibility: hidden
	width: 100vw
	height: 100vh
	&.activeOverlay
		opacity: 1
		visibility: visible
	.clonedTape
		width: 90%
		height: 90%
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		display: flex
		justify-content: center
		align-items: center
		> img
			width: auto
			height: auto
			max-width: 90vw
			max-height: 90vh
			opacity: 0
			visibility: hidden
			position: absolute
			&.activeOverlay
				opacity: 1
				visibility: visible
				position: relative
	button
		position: absolute
		z-index: 970
		top: 50%
		color: $red
		font-size: 2.5rem
		&:hover
			color: $dBlue
	.clonedPrevBtn
		left: 1rem
		transform: translate(0, -50%)
	.clonedNextBtn
		right: 1rem
		transform: translate(0, -50%)

// figures ----------------------------
.figure_1
	width: rem(150)
	height: rem(270)
	position: absolute
	bottom: -4rem
	right: rem(490)
	z-index: 10
	.figure_41
		position: absolute
		width: auto
		height: 10rem
	.figure_42
		position: absolute
		width: auto
		height: 9rem
		left: -2rem
		bottom: 0.2rem
.figure_2
	position: absolute
	z-index: 0
	top: 0
	> *
		position: absolute
		top: 0
	.figure_21
		background-color: $lBlue
		transform: skew(-$skew)
		width: rem(179)
		height: rem(155)
		left: 0
	.figure_22
		width: rem(206)
		height: rem(211)
		left: 0
	.figure_23
		background-color: $red
		transform: skew(-$skew)
		width: 4.3rem
		height: rem(107)
		left: 5.6rem
.figure_3
	position: absolute
	top: 0
	left: 38rem
	> *
		position: absolute
	.figure_31
		background-color: $red
		transform: skew(-$skew)
		width: 7.5rem
		height: 22rem
	.figure_32
		background-color: $dBlue
		transform: skew(-$skew)
		width: 3rem
		height: rem(245)
		top: rem(-54)
		left: 8.5rem
	.figure_33
		background-color: $lBlue
		transform: skew(-$skew)
		width: 2rem
		height: rem(169)
		top: rem(-70)
		left: 8rem
.figure_4
	width: rem(150)
	height: rem(270)
	position: absolute
	bottom: -6rem
	right: rem(490)
	z-index: 10
	.figure_41
		position: absolute
		width: auto
		height: 10rem
	.figure_42
		position: absolute
		width: auto
		height: 11rem
.figure_6
	position: absolute
	top: 0
	bottom: 0
	fill: transparent
	svg
		position: absolute
		top: 0
		height: 100%
		overflow: visible
		path
			height: 100%
	&.dark
		svg, path
			stroke: rgba($dBlue, 0.04) !important
	&.light
		svg, path
			stroke: rgba($w, 0.04) !important
	&.red
		svg, path
			stroke: rgba($red, 0.1) !important
.figure_7
	position: absolute
	top: 0
	&.red
		fill: $red
	.figure_71
		width: 100%
		height: 100%
		position: absolute
		top: 0
.figure_8
	position: absolute
	transform: skew(-$skew)
	background-color: $w
	.figure_42
		width: auto
		transform: skew($skew)
		position: absolute
.figure_9
	position: absolute
	background-color: $dBlue
	height: 100%
	overflow: hidden
	.figure_91
		width: auto
		height: 110%
		position: absolute
		top: 50%
		left: 50%
		transform: skew($skew) translate(-28%, -50%)
.figure_10
	position: absolute
	.figure_101
		width: rem(150)
		height: rem(345)
.figure_11
	position: absolute
	z-index: 3
	top: 0
	left: 10%
	width: 10rem
	height: 105%
	margin-left: -2rem
	transform: skew(-$skew)
	background-color: $red
	overflow: hidden
	img
		width: auto
		height: 110%
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%) skew($skew)









